@import './Charte.css';


.marronCBg {
  background-color: var(--marronC);
}
.marronBg {
  background-color: var(--marron);
}
.marronFBg {
  background-color: var(--marronF);
}
.jauneBg {
  background-color: var(--jaune);
}
.bleuBg {
  background-color: var(--bleu);
}
.blancBg {
  background-color: var(--blanc);
}


.marronCT {
  color: var(--marronC);
}
.marronT {
  color: var(--marron);
}
.marronFT {
  color: var(--marronF);
}
.jauneT {
  color: var(--jaune);
}
.bleuT {
  color: var(--bleu);
}
.blancT {
  color: var(--blanc);
}



*{
  box-sizing: border-box;
  color: var(--marronF);

}

img {
  width: 100%;
  height: auto;
}

body, html {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--titleFont);
}

p, button, input, body {
  margin: 0;
  font-family: var(--textFont);

}

.titleCar{
  font-size: 4rem;
}


.title {
  font-family: var(--titleFont);
}

.logo{
  width: 3rem;
}

.top {
  top:0;
}

.bottom {
  bottom:0;
}

.divApp {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
}

.footer {

  color: white; /* blancT */
  padding: 20px;
  gap: 20px;
}

.footer h5 {
  margin-bottom: 20px;
}

.footer p, .footer address {
  margin-bottom: 15px;
}

.footer .col-sm {
  flex: 1;
  min-width: 200px;
}

.footer i {
  font-size: 2rem;
  margin-right: 15px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footerSide{
  flex-grow: 1;
  margin-top: auto;
}

.appHeight{
  min-height: 100vh;
}

.content-img {
  overflow: hidden;
  object-fit: cover;
  height: 40vh;
}

.borderCb {
  border: 4px solid var(--bleu);
}

.borderCb:hover {
  background-color: var(--bleu);
  color: var(--blanc);
}

.borderB {
  border: 3px dashed var(--bleu);
}

.marronFBT {
  border:2px solid var(--marron);
  width: 20rem;
}

  .hautImg {
    width: 100%;
    max-height: 65vh;
    object-fit: cover;
    overflow: hidden;

  }
  .filtre {
    height: auto;
    margin-bottom: 20px;
    max-height: 58rem;
}

.w-35 {
  min-width: 90px;
  width: 35%;
}

.check:checked  {
  background-color: var(--jaune)!important;
  border: 1px var(--jaune)  solid!important;
}

.check:hover  {
  box-shadow: var(--jaune)  solid!important;
  border: 1px var(--jaune)  solid!important;
}

.check:focus  {
  box-shadow: var(--jaune)  solid!important;
  border: 1px var(--jaune)  solid!important;
}


.product {
  height: 25rem;
  width: 20rem;

}

.imgProductPage {
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  height: 80%;
}

.coverImg {
  object-fit: contain;
}



.productContentImg {
  height:40%;
}

.size {
  height: 22rem;
}

.contentSidebar {
  border-left: dashed 4px var(--jaune);
  min-height: 25vh;
  background: var(--blanc);
  overflow-y:scroll;
}

.btnW {
  width: 18rem;
}

.littleBtn {
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputSize {
  width: 5rem;
}

.hautProductPage{
  min-height: 80vh;
}

@media screen and (min-width: 0) {
  .colorSize {
      color:var(--marronF);
  }
  .sidebar {
    width: 100%;
}
.wResponssive{
  width: 80%;
}

@media screen and (min-width: 768px) {
  .colorSize {
      color:var(--blanc)
  }
  .sidebar {
    width: 35rem;
}
.wResponssive{
  width: 70%;
}


}
@media screen and (min-width: 1140px) {
  .colorSize {
      color:var(--blanc)
  }
  .sidebar {
    width: 35rem;
}
.wResponssive{
  width: 60%;
}

}

}




