@import './Charte.css';


.marronCBg {
  background-color: var(--marronC);
}
.marronBg {
  background-color: var(--marron);
}
.marronFBg {
  background-color: var(--marronF);
}
.jauneBg {
  background-color: var(--jaune);
}
.bleuBg {
  background-color: var(--bleu);
}
.blancBg {
  background-color: var(--blanc);
}


.marronCT {
  color: var(--marronC);
}
.marronT {
  color: var(--marron);
}
.marronFT {
  color: var(--marronF);
}
.jauneT {
  color: var(--jaune);
}
.bleuT {
  color: var(--bleu);
}
.blancT {
  color: var(--blanc);
}


*{
  box-sizing: border-box;
  color: var(--marronF);
  font-family: var(--textFont);

}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--titleFont);
}

p, button, input, 

body {
  margin: 0;

}

.title {
  font-family: var(--titleFont);
}

.logo{
  width: 35px;
}

.top {
  top:0;
}

.bottom {
  bottom:0;
}

.divApp {
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  flex-grow: 1;
}

.content-img {
  overflow: hidden;
  object-fit: cover;
  height: 40vh;
}

.borderCb {
  border: 4px solid var(--bleu);
}

.borderCb:hover {
  background-color: var(--bleu);
}

.marronFBT {
  border:3px solid var(--marron);
}

  .hautImg {
    width: 100%;
    max-height: 65vh;
    object-fit: cover;
    overflow: hidden;

  }
  .filtre {
    height: auto;
    min-width: 25vw ;
    margin-bottom: 20px;
;
}

.w-35 {
  min-width: 90px;
  width: 35%;
}

.check:checked  {
  background-color: var(--jaune)!important;
  border: 1px var(--jaune)  solid!important;
}

.check:hover  {
  box-shadow: var(--jaune)  solid!important;
  border: 1px var(--jaune)  solid!important;
}

.check:focus  {
  box-shadow: var(--jaune)  solid!important;
  border: 1px var(--jaune)  solid!important;
}


.product {
  max-height: 350px;
  min-width: 250px;
  max-width: 330px;
}



@media screen and (min-width: 0) {
  .colorSize {
      color:var(--marronF);
  }
}

@media screen and (min-width: 768px) {
  .colorSize {
      color:var(--blanc)
  }
}