@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url("https://use.typekit.net/tac8tsm.css");


:root {
    --blanc: #FFFFFF;
    --bleu: #50C0CF;
    --marron: #2C1E1E;
    --marronF: #1F1615;
    --marronC: #B65F28;
    --jaune: #FFD543;

    --titleFont: "Fjalla One", 'Arial', sans-serif;
    --textFont: "droid-serif", 'Arial', serif;

}